html {
  height: 100%;
  width: 100%;
}
body {
  background-color: #33475b;
  color: white;
  font-family: Avenir;
}
img{
    border-radius: 100%;
}
a:link {
  color: green; 
  background-color: transparent; 
  text-decoration: none;
}
table {
  width: 100%;
}